<p>charge-ledger works!</p>
<div class="mat-elevation-z8" style="padding: 10px;">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort style="width:100%;cursor: pointer;">

        <!-- Firebase Column -->
        <ng-container matColumnDef="referenceNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference Number </th>
            <td mat-cell *matCellDef="let items">
                {{ items.referenceNumber }}
            </td>
        </ng-container>


        <ng-container matColumnDef="flagName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transactions Type </th>
            <td mat-cell *matCellDef="let items">
                {{ items.flagName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="startingBalance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Starting Balance </th>
            <td mat-cell *matCellDef="let items">
                {{ items.startingBalance }}
            </td>
        </ng-container>

        <ng-container matColumnDef="transactionAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transactions Amount </th>
            <td mat-cell *matCellDef="let items">
                {{ items.transactionAmount }}
            </td>
        </ng-container>

        <ng-container matColumnDef="endingBalance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ending Balance </th>
            <td mat-cell *matCellDef="let items">
                {{ items.endingBalance }}
            </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
            <td mat-cell *matCellDef="let items">
                {{ items.remarks }}
            </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
            <td mat-cell *matCellDef="let items">
                {{ items.createdOn }}
            </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>