.gray { background-color: #ffdc6d }

.mat-row:hover {
    background-color: #00b4e6;
  }
  
  table {
    width: 100%;
    background-color: #ffeebb;
  }
  
  th{
    background-color:#00b4e6;
    color:white;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filter {
    display: block;
  }

  .header {
    padding: 5px;
  }
 

  ::ng-deep .mat-form-field-underline{background-color:white !important}
  ::ng-deep .mat-form-field-placeholder{background-color:white !important}
  
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
  }