<div class="mat-elevation-z8" style="padding:10px">
  <br>

  <div align="right">
      <input matInput style="width:20%;text-align:left;padding-top:10px;padding-bottom: 10px;padding-left: 10px;;border-radius: 20px;border:solid;border-color: #ffdc6d;" (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </div>
  <br>
  <table mat-table [dataSource]="dataSource" matSort style="width:100%;cursor: pointer;">

    <!-- Firebase Column -->
    <ng-container matColumnDef="orderNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Order No. </th>
      <td mat-cell *matCellDef="let items">
        <span *ngIf="items.zzorderid !== ''">{{ items.zzorderid }}</span>
        <span *ngIf="items.zzorderid === ''"> 0 </span>
      </td>
    </ng-container>

    <!-- Name Column -->

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let items">
        <span *ngIf="items.status == 4">Completed</span>
        <span *ngIf="items.status == 5">Cancelled</span>
        <span *ngIf="items.status == 1">Requesting</span>
        <span *ngIf="items.status == 6">Order Accepted</span>
        <span *ngIf="items.status == 9">Item Picked</span>
        <span *ngIf="items.status == 8">Driver Arrived</span>
        <span *ngIf="items.status == 2">Driver En Route</span>
        <span *ngIf="items.status == 3">Cancelled by Driver</span>
        <span *ngIf="items.status == 12">Booking Expired</span>
        <span *ngIf="items.status == 13">Rebooked</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="deliveryTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Time </th>
      <td mat-cell *matCellDef="let items"> {{items.deliveryTime | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="totalGross">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
      <td mat-cell *matCellDef="let items"> {{items.totalGross }} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleTypeID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle</th>
      <td mat-cell *matCellDef="let items">
        <span *ngIf="items.vehicleTypeID == 1 && (items.status != 10 || items.status !== 14)">Motorcycle</span>
        <span *ngIf="items.vehicleTypeID == 2 && (items.status != 10 || items.status !== 14)">MV - Small</span>
        <span *ngIf="items.vehicleTypeID == 3 && (items.status != 10 || items.status !== 14)">MV - Medium</span>
        <span *ngIf="items.vehicleTypeID == 4 && (items.status != 10 || items.status !== 14)">MV - Large</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="deliveryType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Type </th>
      <td mat-cell *matCellDef="let items">
        <span *ngIf="items.deliveryType == 1 && (items.status != 10 || items.status !== 14)">Scheduled</span>
        <span *ngIf="items.deliveryType == 2 && (items.status != 10 || items.status !== 14)">Immediate</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="driverName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name </th>
      <td mat-cell *matCellDef="let items">
        <span
          *ngIf="items.driverName !== '' && (items.status != 10 || items.status !== 14)">{{ items.driverName }}</span>
        <span *ngIf="items.driverName === '' && (items.status != 10 || items.status !== 14)"> - </span>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
      <td mat-cell *matCellDef="let items"> {{ items.notes }}
      </td>
    </ng-container> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;let items; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"
      (click)="getRecord(row)" [hidden]="items.status == 10 || items.status == 14"></tr>

  </table>


  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

</div>