<div align="center" class="background">
  <div class="loginform">
    <div>
        <mat-form-field style="width: 100%;color:white">
          <mat-label style="color:white">Email</mat-label>
          <input class="email" matInput [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field style="width: 100%;color:white">
          <mat-label style="color:white">Password</mat-label>
          <input type="password" matInput [(ngModel)]="password">
        </mat-form-field>
        <div align="left">
          <mat-label style="color:#f2f2f2;cursor:pointer" (click)="forgot()">Forgot Password?</mat-label>
        </div>
      <br>
      <button class="buttonlogin" mat-raised-button (click)="login()">LOG IN</button>
      <br>
      <br>
      <span style="color:white">OR</span>
      <br>
      <br>
      <span (click)="signup()" style="color:white;cursor: pointer;">CREATE AN ACCOUNT</span>
    </div>


  </div>
</div>
<!-- 
<div class="background">
  <div align="right">
    <form style="border: groove;">
      <mat-form-field style="border:groove;margin-top:18%;background-color: #00b4e6;">
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      </mat-form-field>
    </form>
  </div>
</div> -->