.loginform {
    padding-top: 13%;
    padding-left: 60%;
    padding-right: 10%;
}

.background {
    background-image: url("/assets/loginpage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

// .mat-input-wrapper {
//     background: white;
// }

// .mat-input-underline {
//     color: white;
//  }

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
    font-weight: bold;
  }

::ng-deep .mat-form-field-underline{background-color:white !important}
::ng-deep .mat-form-field-placeholder{background-color:white !important}

  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
  }

  ::ng-deep .mat-form-field-wrapper{
    color: white !important;
  }

  ::ng-deep .mat-input-element::placeholder {
    color:white !important;
  }

  ::ng-deep .mat-input-element::placeholder{
      color:rgba($color: #f2f2f2, $alpha: 1.0) !important
    }


.buttonlogin{
  background-color: #ffcc00;
    width: 30%;
    border-radius: 20px;
    height:40px;
    color: white;
}

::ng-deep .mat-input-element::placeholder{color:white !important}
::ng-deep .mat-input-element::-moz-placeholder{color:white !important}
::ng-deep .mat-input-element::-webkit-input-placeholder{color:white !important}
::ng-deep .mat-input-element:-ms-input-placeholder{color:white !important}


