footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00b4e6;
  color: white;
  text-align: center;
  height:10px;
  padding: 20px 0;
  font-size: 12px;
}

