.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
	background: #00b4e6;
}

.icon-main-header {
	width: 170px;
}

.mat-icon-button {
	color: white;
}

a {
	color: white;
	
}
