<div style="height: 87vh;">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button> 
      <img class="icon-main-header" src="assets/icons/HM-horizontal reverse.png"/>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="map/booking" mat-button>Create Booking</a>
        <a routerLink="booking-list" mat-button>Booking List</a>
        <a routerLink="wallet-ledger" mat-button>Wallet Ledger</a>
        <a routerLink="charge-ledger" mat-button>Charge Ledger</a>
      </div>
      <span class="menu-spacer"></span>
      <!-- right side -->
      <div fxShow="true" fxHide.lt-md>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button routerLink="update-profile" mat-menu-item>Update Profile</button>
          <button routerLink="change-password" mat-menu-item>Change Password</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="map" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Create Booking</a>
        <a routerLink="booking-list" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Booking List</a>
        <a routerLink="wallet-ledger" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Wallet Ledger</a>
        <a routerLink="charge-ledger" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Charge Ledger</a>
        <a routerLink="update-profile" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Update Profile</a>
        <a routerLink="change-password" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Change Password</a>
        <mat-divider></mat-divider>
        <a routerLink="#" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item>Log Out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill> 
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>