/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Helvetica, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0%;
    font-family: Helvetica, "Helvetica Neue", sans-serif;

    
}

.error {
    background: #f53d3d;
    color:white;
    font-weight: bold;
  
  }
