<div class="flex-container">
	<div class="booking">
		
		<app-booking-details (outputDriver)="getDriverLocation($event)" (output)="loadStops($event)" [input]="stops" [driverLoc]="drivers"></app-booking-details>
	</div>
	<div class="map">

		<!-- stops markers -->
		<agm-map [latitude]="latitude" [longitude]="longitude" [fitBounds]="true">
			<agm-marker *ngFor="let item of markers"
			  [latitude]="item.lat" [longitude]="item.lng" [iconUrl]="markersIcon[item.index]"
			  [agmFitBounds]="true">
			</agm-marker>

		<!-- driver markers -->
			<agm-marker *ngIf="latitude != 0 && longitude != 0" [latitude]="latitude" [longitude]="longitude" [iconUrl]="driversIcon[vehicleTypeID]">
			</agm-marker>
		  </agm-map>
	</div>
</div>
