
agm-map {
    height: 100%;
}

.flex-container {
	display: flex;
  	justify-content: center;
  	height: 100%;
}

.flex-container > .booking {
  background-color: white;
  width: 25%;
}

.flex-container > .map {
  background-color: white;
  width: 75%;
}