<div style="padding:20px">
   <div *ngIf="status == 1 || status == 5" class="sub-content">
      <div style="margin:30px auto">
         Looking for Driver
      </div>
   </div>
   <div *ngIf="status == 6 || status == 9 || status == 2 " class="sub-content">
      {{ thisTimers }} {{ min }} {{ status }}
   </div>

   
   <div *ngIf="status != 1 && status != 5" class="sub-content">
      <div fxLayout="row">
         <div fxFlex="50">
            <img src="{{ driverPicture }}" width="50%" height="80px" style="border-radius: 47%;" />
            <br><br>
            {{ driverRating }}
         </div>
         <div fxFlex="50">
            <div style="margin:20px auto">
               <div style="margin-bottom: 1px;">{{ driverName }}</div>
               <br>
               <div style="margin-bottom: 1px">{{ driverMobile }}</div>
               <br>
               <div style="margin-bottom: 1px">{{ driverVehicle }}</div>
            </div>
         </div>
      </div>
   </div>



   <div class="sub-content" style="margin:30px auto">
      <div fxLayout="row">
         <div fxFlex="50" style="border-right: solid 1px #ffc505;margin:10px auto;">
            <span *ngIf="status == 1 || status === '1'" style="font-size: small;">Requesting</span>
            <span *ngIf="status == 6 || status === '6'" style="font-size: small;">Order Accepted</span>
            <span *ngIf="status == 8 || status === '8'" style="font-size: small;">Driver Arrived</span>
            <span *ngIf="status == 9 || status === '9'" style="font-size: small;">Item Picked</span>
            <span *ngIf="status == 2 || status === '2'" style="font-size: small;">Driver En Route</span>
            <span *ngIf="status == 4 || status === '4'" style="font-size: small;">Completed</span>
            <span *ngIf="status == 5 || status === '5'" style="font-size: small;">Cancelled</span>
            <span *ngIf="status == 3 || status === '3'" style="font-size: small;">Cancelled by Driver</span>
            <span *ngIf="status == 13 || status === '13'" style="font-size: small;">Rebooked</span>
            <span *ngIf="status == 12 || status === '12'" style="font-size: small;">Booking Expried</span>

            <br>
            <span style="font-size: small;">{{ deliveryTime | date:'medium'}}</span>
         </div>
         <div fxFlex="50" style="margin:auto">
            <strong>P {{ totalGross }}</strong>
            <br>
            <u (click)="priceDetails(details)" style="font-size: small;cursor: pointer;">See Price Breakdown</u>
         </div>
      </div>
   </div>

   <div>
         <mat-list *ngFor="let stop of deliveryStops">
            <mat-list-item style="font-size: smaller;" *ngIf="stop.sequenceNo == 0">
                  <mat-icon color="primary" >trip_origin</mat-icon>
               <span style="padding-left: 10px;font-size: smaller;">{{ stop.stop }} </span>
            </mat-list-item>
            <mat-list-item style="font-size: smaller;"
               *ngIf="stop.sequenceNo != 0 && stop.sequenceNo != (deliveryStops.length - 1) ">
               <mat-icon color="primary">fiber_manual_record</mat-icon>
               <span style="padding-left: 10px;font-size: smaller;">{{ stop.stop }} </span>
            </mat-list-item>
            <mat-list-item style="font-size: smaller;" *ngIf="stop.sequenceNo == deliveryStops.length - 1">
                  <mat-icon color="primary">room</mat-icon>
               <span style="padding-left: 10px;font-size: smaller;">{{ stop.stop }} </span>
            </mat-list-item>
            <mat-divider style="background-color: #00b4e6;"></mat-divider>
   
         </mat-list>
      </div>

   <br>
   <br>
   <div align="center">
      <button
         style="width: 100%;border-radius: 20px;background-color: #ffc505;font-weight: bold;color:white;font-family: Arial, Helvetica, sans-serif;"
         *ngIf="status == 1" mat-raised-button (click)="openDialogWithRef(addPriorityFeeDialog)">Add Priority
         Fee</button>
      <br><br>
      <button style="width: 100%;border-radius: 20px;background-color: #ffc505;font-weight: bold;color:white;"
         *ngIf="status == 1" mat-raised-button (click)="openDialogWithRef(firstDialog)">Cancel Order</button>
      <button style="width: 100%;border-radius: 20px;background-color: #ffc505;font-weight: bold;color:white;"
         *ngIf="status == 6" mat-raised-button (click)="openDialogWithRef(firstDialog)">Cancel Order</button>
      <button style="width: 100%;border-radius: 20px;background-color: #ffc505;font-weight: bold;color:white;"
         *ngIf="status == 8" mat-raised-button (click)="openDialogWithRef(arrivedCancelled)">Cancel Order</button>
   </div>

   <ng-template #details style="width:300px">
      <h3 matDialogTitle style="color:#ffc505;font-weight: bold;">Price Breakdown</h3>
      <div class="sub-content">
         <div fxLayout="row">
            <div fxFlex="50" align="left">
               <br>
               <div style="margin-bottom:5px;padding-left:10px">Base Fee:</div>
               <div *ngIf="additionalStopsCharge != 0" style="margin-bottom:5px;padding-left:10px">Additional Stops Charge:</div>
               <div *ngIf="vehicleTypeID == 1 && insulatedBox != 0" style="margin-bottom:5px;padding-left:10px">Happy Bag:</div>
               <div *ngIf="holiday != 0" style="margin-bottom:5px;padding-left:10px">Holiday:</div>
               <div *ngIf="afterHours != 0" style="margin-bottom:5px;padding-left:10px">Night Surcharge:</div>
               <div *ngIf="vehicleTypeID == 1 && cashHandling != 0" style="margin-bottom:5px;padding-left:10px">Cash Handling:</div>
               <div *ngIf="vehicleTypeID == 1 && cashRemittance != 0" style="margin-bottom:5px;padding-left:10px">Cash Remittance:</div>
               <div *ngIf="vehicleTypeID != 1 && driverCarries != 0" style="margin-bottom:5px;padding-left:10px">Driver Helps:</div>
               <div *ngIf="vehicleTypeID == 2 && mvxs != 0" style="margin-bottom:5px;padding-left:10px">Sedan:</div>
               <div *ngIf="vehicleTypeID == 2 && additionalAssistant != 0" style="margin-bottom:5px;padding-left:10px">Extra Helper (1st):</div>
               <div *ngIf="vehicleTypeID == 3 && additionalAssistant != 0" style="margin-bottom:5px;padding-left:10px">Extra Helper (1st):</div>
               <div *ngIf="vehicleTypeID == 4 && additionalAssistant == 0" style="margin-bottom:5px;padding-left:10px">Extra Helper (1st):</div>
               <div *ngIf="vehicleTypeID == 3 && additionalAssistant2 != 0" style="margin-bottom:5px;padding-left:10px">Extra Helper (2nd):</div>
               <div *ngIf="vehicleTypeID == 4 && additionalAssistant2 != 0" style="margin-bottom:5px;padding-left:10px">Extra Helper (2nd):</div>
               <div *ngIf="queuingService != 0 && queuingService !== undefined" style="margin-bottom:5px;padding-left:10px">Queuing Service:</div>
               <div *ngIf="purchaseService != 0 && purchaseService !== undefined" style="margin-bottom:5px;padding-left:10px">Concierge Service:</div>
               <div *ngIf="priorityFee != 0" style="margin-bottom:5px;padding-left:10px">Priority Fee:</div>
               <div style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:10px;border-top: solid 2px #ffc505;">Total Delivery Fee:</div>
               <div *ngIf="discountValue != 0" style="margin-bottom:5px;padding-left:10px">Promo Discount:</div>
               <div *ngIf="itemPrice != 0 && itemPrice !== undefined" style="margin-bottom:5px;padding-left:10px">Item Price:</div>
          
               <div *ngIf="paymentType == 1" style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:10px;border-top: solid 2px #ffc505;">Cash to give to driver:</div>
               <div *ngIf="paymentType === null" style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:10px;border-top: solid 2px #ffc505;">Cash to give to driver:</div>
               <div *ngIf="paymentType === undefined" style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:10px;border-top: solid 2px #ffc505;">Cash to give to driver:</div>
               <div *ngIf="paymentType == 2" style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:10px;border-top: solid 2px #ffc505;">Deducted from your wallet:</div>
               <div *ngIf="paymentType == 3" style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:10px;border-top: solid 2px #ffc505;">Charged to your account:</div>

               
            </div>
            <div fxFlex="50" align="center">
               <br>
               <div style="margin-bottom:5px;padding-left: 50px;">{{ standardRate }}</div>
               <div *ngIf="additionalStopsCharge != 0" style="margin-bottom:5px;padding-left: 50px;">{{ additionalStopsCharge }}</div>
               <div *ngIf="vehicleTypeID == 1 && insulatedBox != 0" style="margin-bottom:5px;padding-left:50px">Free</div>
               <div *ngIf="holiday != 0" style="margin-bottom:5px;padding-left:50px">₱ {{ holiday }}</div>
               <div *ngIf="afterHours != 0" style="margin-bottom:5px;padding-left:50px">₱ {{ afterHours }}</div>
               <div *ngIf="vehicleTypeID == 1 && cashHandling != 0" style="margin-bottom:5px;padding-left:50px">₱ {{ cashHandling }}</div>
               <div *ngIf="vehicleTypeID == 1 && cashRemittance != 0" style="margin-bottom:5px;padding-left:50px">₱{{ cashRemittance }}</div>
               <div *ngIf="vehicleTypeID != 1 && driverCarries != 0" style="margin-bottom:5px;padding-left:50px">{{ driverCarries }}</div>
               <div *ngIf="vehicleTypeID == 2 && mvxs != 0" style="margin-bottom:5px;padding-left:50px">{{ mvxs }}</div>
               <div *ngIf="vehicleTypeID == 2 && additionalAssistant != 0" style="margin-bottom:5px;padding-left:50px">{{ additionalAssistant }}</div>
               <div *ngIf="vehicleTypeID == 3 && additionalAssistant != 0" style="margin-bottom:5px;padding-left:50px">{{ additionalAssistant }}</div>
               <div *ngIf="vehicleTypeID == 4 && additionalAssistant == 0" style="margin-bottom:5px;padding-left:50px">Free</div>
               <div *ngIf="vehicleTypeID == 3 && additionalAssistant2 != 0" style="margin-bottom:5px;padding-left:50px">{{ additionalAssistant2 }}</div>
               <div *ngIf="vehicleTypeID == 4 && additionalAssistant2 != 0" style="margin-bottom:5px;padding-left:50px">{{ additionalAssistant2 }}</div>
               <div *ngIf="queuingService != 0 && queuingService !== undefined" style="margin-bottom:5px;padding-left:50px">{{ queuingService }}</div>
               <div *ngIf="purchaseService != 0 && purchaseService !== undefined" style="margin-bottom:5px;padding-left:50px">{{ purchaseService }}</div>
               <div *ngIf="priorityFee != 0" style="margin-bottom:5px;padding-left:50px">{{ priorityFee }}</div>
               <div style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:50px;border-top: solid 2px #ffc505;">{{ totalDeliveryFee}}</div>
               <div *ngIf="discountValue != 0" style="margin-bottom:5px;padding-left:50px">-{{ discountValue }}</div>
               <div *ngIf="itemPrice != 0 && itemPrice !== undefined" style="margin-bottom:5px;padding-left:50px">{{ itemPrice }}</div>
      
               <div style="font-weight: bold;;margin-bottom:5px;padding-top:10px;padding-left:50px;border-top: solid 2px #ffc505;"> {{ totalGross }}</div>

            </div>
         </div>
      </div>
      <div align="right">
            <button mat-button mat-raised-button matDialogClose (click)="closeDetails()" color="secondary">Close</button>
      </div>
   </ng-template>

   

   <ng-template #arrivedCancelled>
      <h2 matDialogTitle>Cancel Order</h2>
      <p matDialogContent><em>Are you sure you want to cancel?
            <br>
            Driver may collect cancellation fee of
            <br>
            (30% of total delivery fee).
         </em></p>
      <div align="center">
         <button mat-button mat-raised-button matDialogClose (click)="submitArrived(firstDialog)"
            color="primary">Yes</button>
         &nbsp;
         <button mat-button mat-raised-button matDialogClose (click)="closeArrived()" color="warn">No</button>

      </div>
   </ng-template>


   <ng-template #firstDialog>
      <h2 matDialogTitle>Cancel Order</h2>
      <p matDialogContent><em>Reason for cancellation of Order
            <br>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
               [(ngModel)]="myReason">
               <mat-radio-button class="example-radio-button" *ngFor="let reason of reasons" [value]="reason">
                  {{reason}}
               </mat-radio-button>
            </mat-radio-group>

            <input (click)="enterReason()" matInput placeholder="Other Reason" required [(ngModel)]="myReason">
         </em></p>
      <div align="center">
         <button mat-button mat-raised-button matDialogClose (click)="submit(loader)" color="primary">Submit</button>
         &nbsp;
         <button mat-button mat-raised-button matDialogClose (click)="close()" color="warn">Dismiss</button>
      </div>
   </ng-template>

   <ng-template #addPriorityFeeDialog>
      <h2 matDialogTitle>Add Priority Fee</h2>
      <p matDialogContent><em>Select Priority Fee Amount
            <br>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
               [(ngModel)]="myFee">
               <mat-radio-button class="example-radio-button" *ngFor="let fee of fees" [value]="fee">
                  {{fee}}
               </mat-radio-button>
            </mat-radio-group>

            <input (click)="enterFee()" matInput placeholder="Other Reason" required [(ngModel)]="myFee">
         </em></p>
      <div align="center">
         <button mat-button mat-raised-button matDialogClose (click)="submitPriorityFee(loader)"
            color="primary">Submit</button>
         &nbsp;
         <button mat-button mat-raised-button matDialogClose (click)="closePriorityFee()" color="warn">Dismiss</button>
      </div>
   </ng-template>

   <ng-template #loader style="border:groove">
      <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner>
   </ng-template>


</div>