.img {
    background-image: url('http://3.1.28.12/wemove/uploads/documentchecklists/3BD987FE-7571-40A2-BFF4-5239A658A43B_ProfilePicture.png');
    background-size: cover;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .mat-button-focus-overlay { background-color: transparent!important; }

  .material-icons.md-48 { font-size: 48px; }

  .sub-content {
    border: solid 1px #ffc505;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    vertical-align: middle;
  }

  .sub-content1 {
    border: solid 1px #ffc505;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    vertical-align: middle;
  }

  ::ng-deep .mat-list-item-content {
    padding: 0!important;
  }

  ::ng-deep .mat-list-item-underline {
    background-color: red;
  }

  .mat-icon.mat-primary {
    color: #00b4e6;
  }

  .mat-button.mat-secondary{
    background-color: #ffc505;
    font-weight: bold;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }

  

  